{% extends "base.html" %}

{% block title %}カテゴリー一覧{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}


{%  block content %}
<div class="container">

    <h1>Category List</h1>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>編集</th>
        </tr>
        {% for category in categorys %}
        <tr>
            <td>{{category[0]}}</td>
            <td>{{category[1]}}</td>
            <td>
                <a href={{ url_for('category_delete',id=category[0])}}>削除</a>
                <a href={{ url_for('category_update',id=category[0])}}>編集</a>
            </td>
        </tr>
        {% endfor %}

    </table>

</div>
{% endblock %}
